<div class="row">
    <div class="column">
        <div class="card">
            <div class="title">Proyecto1</div>
            <div class="icon">
                <img src="../../assets/images/Logo_sin_fondo_letras.png" height="100%" width="100%">
            </div>
            <!--/icon-->
            <div class="features">
                <ul>
                    <li><span>5</span> Edits</li>
                    <li><span>1GB</span> Storage</li>
                    <li><span>3</span> Pages</li>
                    <li><span>1</span> Hour free support</li>
                </ul>
            </div>
            <!--/features-->

            <a href="#" class="btn">Check it out</a>

        </div>
        <!--/card-->
    </div>
    <div class="column">
        <div class="card">
            <div class="title">Proyecto1</div>
            <div class="icon">
                <img src="../../assets/images/Logo_sin_fondo_letras.png" height="100%" width="100%">
            </div>
            <!--/icon-->
            <div class="features">
                <ul>
                    <li><span>5</span> Edits</li>
                    <li><span>1GB</span> Storage</li>
                    <li><span>3</span> Pages</li>
                    <li><span>1</span> Hour free support</li>
                </ul>
            </div>
            <!--/features-->

            <a href="#" class="btn">Check it out</a>

        </div>
        <!--/card-->
    </div>
    <div class="column">
        <div class="card">
            <div class="title">Proyecto1</div>
            <div class="icon">
                <img src="../../assets/images/Logo_sin_fondo_letras.png" height="100%" width="100%">
            </div>
            <!--/icon-->
            <div class="features">
                <ul>
                    <li><span>5</span> Edits</li>
                    <li><span>1GB</span> Storage</li>
                    <li><span>3</span> Pages</li>
                    <li><span>1</span> Hour free support</li>
                </ul>
            </div>
            <!--/features-->

            <a href="#" class="btn">Check it out</a>

        </div>
        <!--/card-->
    </div>
    <div class="column">
        <div class="card">
            <div class="title">Proyecto1</div>
            <div class="icon">
                <img src="../../assets/images/Logo_sin_fondo_letras.png" height="100%" width="100%">
            </div>
            <!--/icon-->
            <div class="features">
                <ul>
                    <li><span>5</span> Edits</li>
                    <li><span>1GB</span> Storage</li>
                    <li><span>3</span> Pages</li>
                    <li><span>1</span> Hour free support</li>
                </ul>
            </div>
            <!--/features-->

            <a href="#" class="btn">Check it out</a>

        </div>
        <!--/card-->
    </div>
</div>

<div class="animation">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets9.lottiefiles.com/datafiles/eZXzHZZ2e9Apt25/data.json" background="transparent"
        speed="1" style="width: 100%; height: 30%;" loop autoplay></lottie-player>
</div>