<section>
    <h1 class="big-title">Consejo de Cronistas San Miguel Topilejo</h1>
    <div class="parallax-web" data-parallax="scroll" data-z-index="1" data-image-src="../../assets/images/Iglesia3.jpg">
    </div>
    <div class="parallax"></div>
    <div class="container">
        <div class="content">
            <h2 class="subtitle"></h2>
        </div>
        <p class="text">Los pueblos de Xitla, Ajusco y Topilejo fueron habitados tardíamente en relación a Cuicuilco.
            Topilejo se deriva del desprendimiento de pequeños grupos pertenecientes a la corriente migratoria de
            xochimilcas,
            provenientes del estado de Morelos. El único estudio de arqueología formal que se conoce al respecto es el
            de la
            arqueóloga María Teresa Cabrero, realizado en 1980.
            Topilejo es una comunidad fundada hace más de 900 años. El nombre original del poblado pudo haber sido
            Topilco,
            topónimo en náhuatl que quiere decir: Topil, el que lleva el mando y co, lugar, “Lugar del que lleva el
            mando”.
            Existen otras versiones que mencionan que pudo haber sido Topilan o Topileco.
            Originalmente, el pueblo pertenecía al municipio (delegación) de Coyoacán y, posteriormente, se asignó a
            Tlalpan.
            En lo que se refiere a lo religioso después de la conquista de México, los pueblos originarios vieron
            desaparecer
            sus teocalis, es decir, los lugares de culto a sus dioses. En 1524, cuando un grupo integrado por doce
            frailes
            de
            la orden franciscana, al mando de fray Martín de Valencia, iniciaron la labor de evangelizar a sus
            habitantes.
            Una de las primeras acciones realizadas fue la sustitución de los antiguos teocalis, por templos cristianos
        </p>
    </div>
</section>


<section>
    <div class="parallax-web" data-parallax="scroll" data-z-index="1" data-image-src="../../assets/images/Iglesia1.jpg">
    </div>
    <div class="parallax1"></div>
    <div class="container">

        <p>Los pueblos de Xitla, Ajusco y Topilejo fueron habitados tardíamente en relación a Cuicuilco.
            Topilejo se deriva del desprendimiento de pequeños grupos pertenecientes a la corriente migratoria de
            xochimilcas,
            provenientes del estado de Morelos. El único estudio de arqueología formal que se conoce al respecto es el
            de la
            arqueóloga María Teresa Cabrero, realizado en 1980.
            Topilejo es una comunidad fundada hace más de 900 años. El nombre original del poblado pudo haber sido
            Topilco,
            topónimo en náhuatl que quiere decir: Topil, el que lleva el mando y co, lugar, “Lugar del que lleva el
            mando”.
            Existen otras versiones que mencionan que pudo haber sido Topilan o Topileco.
            Originalmente, el pueblo pertenecía al municipio (delegación) de Coyoacán y, posteriormente, se asignó a
            Tlalpan.
            En lo que se refiere a lo religioso después de la conquista de México, los pueblos originarios vieron
            desaparecer
            sus teocalis, es decir, los lugares de culto a sus dioses. En 1524, cuando un grupo integrado por doce
            frailes
            de
            la orden franciscana, al mando de fray Martín de Valencia, iniciaron la labor de evangelizar a sus
            habitantes.
            Una de las primeras acciones realizadas fue la sustitución de los antiguos teocalis, por templos cristianos
        </p>

    </div>
</section>


<section>

    <section>
        <div class="parallax-web" data-parallax="scroll" data-z-index="1" data-image-src="../../assets/images/Iglesia4.jpg">
        </div>
        <div class="parallax2"></div>
        <div class="container">

            <p>Los pueblos de Xitla, Ajusco y Topilejo fueron habitados tardíamente en relación a Cuicuilco.
                Topilejo se deriva del desprendimiento de pequeños grupos pertenecientes a la corriente migratoria de
                xochimilcas,
                provenientes del estado de Morelos. El único estudio de arqueología formal que se conoce al respecto es
                el
                de la
                arqueóloga María Teresa Cabrero, realizado en 1980.
                Topilejo es una comunidad fundada hace más de 900 años. El nombre original del poblado pudo haber sido
                Topilco,
                topónimo en náhuatl que quiere decir: Topil, el que lleva el mando y co, lugar, “Lugar del que lleva el
                mando”.
                Existen otras versiones que mencionan que pudo haber sido Topilan o Topileco.
                Originalmente, el pueblo pertenecía al municipio (delegación) de Coyoacán y, posteriormente, se asignó a
                Tlalpan.
                En lo que se refiere a lo religioso después de la conquista de México, los pueblos originarios vieron
                desaparecer
                sus teocalis, es decir, los lugares de culto a sus dioses. En 1524, cuando un grupo integrado por doce
                frailes
                de
                la orden franciscana, al mando de fray Martín de Valencia, iniciaron la labor de evangelizar a sus
                habitantes.
                Una de las primeras acciones realizadas fue la sustitución de los antiguos teocalis, por templos
                cristianos
            </p>

        </div>
    </section>