<!DOCTYPE html>
<html>

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="nav-bar.component.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <title>Navbar</title>
    </head>

    <body>
        <header>
            <div class="container">
                <img src="/assets/images/cronistaslogo.png" alt="cronistaslogo" class="logo" height="100" width="100">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>

</html>
<a routerLink="/articles">Articles</a>
<a routerLink="/about">About</a>