<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="nav-bar.component.css">
<header>
        <nav>
            <img src="assets/images/Logo_CRONISTAS_Fondo.png" alt="logo" class="logo" width="120px" height="120px">
            <ul class="nav-links">
                <li><a href="">Inicio</a></li>
                <li><a href="about">¿Quienes Somos?</a></li>
                <li><a href="cronicas">Cronicas</a></li>
                <li><a href="proyectos">Proyectos y <br/> Publicaciones</a></li>
                <li><a href="#">Preguntas</a></li>
                <li><a href="https://www.facebook.com/CronistasTopilejo"  target="_blank" class="btn btn-social-icon btn-facebook"> <span class="fa fa-facebook"></span></a></li>
            </ul>
            <div class="burger">
                <div class="line 1"></div>
                <div class="line 2"></div>
                <div class="line 3"></div>
            </div>
        </nav>

</header>
