* {
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;

}


.logo {
    padding: 10px;
    float: left;
    margin-left: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #a82828;
}

.nav-links {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-inline-start: 120px;
}

.nav-links li {
list-style: none;

}

.nav-links li:hover{
    background-color: black;
    height: 20px;
}

.nav-links li a {
    color: #f1f8e9;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 8;
    
}



.burger{
    display: none;
    z-index: 4;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #f1f8e9;
    margin: 5px;
    transition: all 0.3s ease;
}


.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

    
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }


  @media screen and (min-width:769){
      .nav-links{
          width: 60%;
      }
  }

  @media screen and (max-width:768px){
        body{
            overflow-x: hidden;
        }

      .nav-links{
          position: fixed;
          right: 0px;
          margin-top: 20px;
          height: 92vh;
          top: 8vh;
          background-color: #a82828;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 65%;
          z-index: 6;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
          overflow-y: hidden;
          
      }
      .nav-links li{
        opacity: 100%;
    }

    .burger{
        display: block;
        margin-right: 40px;
    }
  }

  .nav-active{
      transform: translateX(0%);
  }

  @keyframes navLinkFade{
      from{
          opacity: 0;
          transform: translateX(50px);
      }
      to{
          opacity: 1;
          transform: translateX(0px);
      }
  }

  
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(-45deg) translate(-5px, 6px);
  }