<body>
    <div class="container-book">
        <input type="checkbox" id="c1">
        <input type="checkbox" id="c2">
        <input type="checkbox" id="c3">
        <div id="cover">
            <img src="../../assets/images/Topilejo_pelado_portada.jpg">
        </div>
        <div class="page-container">
            <div class="page" id="p1">
                <div class="back">
                    <img src="../../assets/images/cerro.jpg">
                    <label class="back-btn" for="c1">Atras</label>
                </div>
                <div class="front">
                    <h2>Cronicas</h2>
                    <p>asdfasdfasd fasdfasdfasd
                        asdf
                        asd
                        fasd fasdfas dfasdfa sdfas
                        asdfasdfaaaa
                        sdfasdfuas hdgfasdljfak; lsdjfas
                        asdfasd fasd fasdfa sdfasdfasdfasf
                    </p>
                    <label class="next-btn" for="c1">Siguiente</label>
                </div>
            </div>

            <div class="page" id="p2">
                <div class="back">
                    <img src="../../assets/images/lacima.jpg">
                    <label class="back-btn" for="c1">Atras</label>
                </div>
                <div class="front">
                    <h2>Cronicas</h2>
                    <p>asdfasdfasd fasdfasdfasd
                        asdf
                        asd
                        fasd fasdfas dfasdfa sdfas
                        asdfasdfaaaa
                        sdfasdfuas hdgfasdljfak; lsdjfas
                        asdfasd fasd fasdfa sdfasdfasdfasf
                    </p>
                    <label class="next-btn" for="c2">Siguiente</label>
                </div>
            </div>


            <div class="page" id="p3">
                <div class="back">
                    <img src="../../assets/images/Iglesia4.jpg">
                    <label class="back-btn" for="c2">Atras</label>
                </div>
                <div class="front">
                    <h2>Cronicas</h2>
                    <p>asdfasdfasd fasdfasdfasd
                        asdf
                        asd
                        fasd fasdfas dfasdfa sdfas
                        asdfasdfaaaa
                        sdfasdfuas hdgfasdljfak; lsdjfas
                        asdfasd fasd fasdfa sdfasdfasdfasf
                    </p>
                    <label class="next-btn" for="c3">Siguiente</label>
                </div>
            </div>
        </div>
    </div>

</body>